# Possible build directories  #
###############################
x64
x32
codeblocks
msvc64
msvc32
mingw32
mingw64
build
make
make64
make32
#####################
# Editor temp files #
#####################
*.swp
